In [1]:
import pandas as pd
import os

In [2]:
os.chdir('..')

In [10]:
from auto_split import Splitter, load_split

In [4]:
df =pd.read_csv('data/DRIVE/segmented_mst/segmentation_result.csv')
df_thr =pd.read_csv('data/DRIVE/segmented_thr/Thresholded1.csv')
# df = df.query('FILE_NAME=="19_test.tif"')
df = df.query('ORIG_CONTRIB==0.6')
df = df.query('SK_THRESHOLD==100')
df = df.query('ALPHA==5.0')
df = df.query('SEG_THRESHOLD==12')

In [5]:
df60 = df_thr.query('THRESHOLD==60')
df80 = df_thr.query('THRESHOLD==80')
df100 = df_thr.query('THRESHOLD==100')
df120 = df_thr.query('THRESHOLD==120')
df140 = df_thr.query('THRESHOLD==140')

In [8]:
sp = Splitter(images_dir='data/DRIVE/training/images')

In [45]:
sp

In [36]:
a ={
    'Dirs':{
        'i':"images",
        't':"Truth"
    }
}

In [43]:
c=a.get('Dirs').get('ij')

In [44]:
c

In [46]:
d = c['train']

TypeError: 'NoneType' object is not subscriptable

In [15]:
d = os.listdir('data/DRIVE/training/images')

In [6]:
mst_table = df[['FILE_NAME', 'F1', 'ACCURACY']].set_index(['FILE_NAME'])

In [22]:
80*0.64, 80*0.18, 80*0.18pytorch r

(51.2, 14.399999999999999, 14.399999999999999)

In [18]:
int(round(80*0.18))

14

In [20]:
int(round(80*0.18))

14

In [7]:
thr_tabel = df100[['FILE_NAME', 'F1', 'ACCURACY']].set_index(['FILE_NAME'])

In [8]:
final= thr_tabel.join(mst_table, lsuffix='_THR', rsuffix='_MST')

In [9]:
final.loc['MEAN:'] = final.mean()
final.loc['STD:'] = final.std()

In [10]:
final

               F1_THR  ACCURACY_THR    F1_MST  ACCURACY_MST
FILE_NAME
04_test.tif  0.818698      0.969439  0.820000      0.968000
05_test.tif  0.791720      0.965572  0.814000      0.967000
06_test.tif  0.779894      0.962986  0.805000      0.965000
07_test.tif  0.796387      0.967005  0.811000      0.967000
08_test.tif  0.778156      0.966390  0.802000      0.967000
15_test.tif  0.812816      0.972645  0.790000      0.966000
16_test.tif  0.831691      0.971678  0.840000      0.972000
17_test.tif  0.800774      0.969411  0.808000      0.969000
17_test.tif  0.800774      0.969411  0.808000      0.969000
18_test.tif  0.827532      0.972715  0.822000      0.970000
19_test.tif  0.875245      0.978982  0.833000      0.969000
MEAN:        0.810335      0.969658  0.813909      0.968091
STD:         0.026504      0.004138  0.013548      0.001881

In [97]:
grouped = df.groupby(['SK_THRESHOLD','ALPHA','ORIG_CONTRIB','SEG_THRESHOLD']).mean().reset_index()
grouped.sort_values(by='F1', ascending=False)

,SK_THRESHOLD,ALPHA,ORIG_CONTRIB,SEG_THRESHOLD,ITR,F1,PRECISION,RECALL,ACCURACY
0,100,5.0,0.6,12,228.5,0.8152,0.8099,0.8261,0.9677

In [94]:
mst_table

                F1  ACCURACY
FILE_NAME
04_test.tif  0.820     0.967
08_test.tif  0.800     0.967
18_test.tif  0.816     0.969
06_test.tif  0.803     0.964
17_test.tif  0.812     0.969
05_test.tif  0.815     0.966
16_test.tif  0.839     0.971
07_test.tif  0.818     0.968
15_test.tif  0.800     0.968
19_test.tif  0.829     0.968

In [95]:
thr_tabel

                   F1  ACCURACY
FILE_NAME
15_test.tif  0.812816  0.972645
04_test.tif  0.818698  0.969439
19_test.tif  0.875245  0.978982
08_test.tif  0.778156  0.966390
06_test.tif  0.779894  0.962986
18_test.tif  0.827532  0.972715
07_test.tif  0.796387  0.967005
16_test.tif  0.831691  0.971678
05_test.tif  0.791720  0.965572
17_test.tif  0.800774  0.969411

In [99]:
df

,ITR,FILE_NAME,F1,PRECISION,RECALL,ACCURACY,SK_THRESHOLD,ALPHA,ORIG_CONTRIB,SEG_THRESHOLD
25,26,04_test.tif,0.820,0.825,0.815,0.967,100,5.0,0.6,12
70,71,08_test.tif,0.800,0.827,0.774,0.967,100,5.0,0.6,12
115,116,18_test.tif,0.816,0.763,0.878,0.969,100,5.0,0.6,12
160,161,06_test.tif,0.803,0.854,0.757,0.964,100,5.0,0.6,12
205,206,17_test.tif,0.812,0.840,0.786,0.969,100,5.0,0.6,12
250,251,05_test.tif,0.815,0.840,0.792,0.966,100,5.0,0.6,12
295,296,16_test.tif,0.839,0.832,0.845,0.971,100,5.0,0.6,12
340,341,07_test.tif,0.818,0.848,0.790,0.968,100,5.0,0.6,12
385,386,15_test.tif,0.800,0.726,0.889,0.968,100,5.0,0.6,12
430,431,19_test.tif,0.829,0.744,0.935,0.968,100,5.0,0.6,12

Notes

-  ConvNet does not pick thin vessel at all.
-  For the ones that it picked, precision vs recall tradeoff.
-  Best would be to pick thin vessels and a way to maintain the precision.
-  Represent each pixel with i, j, pVal, unet(u, v), orig(u, v)
- (u,v) would want to go away from the optic nerve and downward.

In [106]:
class Parent:
    def __init__(self, p=None):
        self.p = p
    @classmethod
    def getme(cls,p=None):
        return cls

In [107]:
class Child(Parent):
    def __init__(self, p=None):
        super(Child, self).__init__(p=p)
        self.c = "ChildClass"

In [108]:
c = Child("Namaste")

In [109]:
d = c.getme(p="TTTTT")

In [110]:
y=d("H")

In [111]:
y.p

'H'